/* Base styles */
body {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 20px;
}

.topnav ul {
    display: flex;
    gap: 40px;
    float: right;
    margin-top: -40px;
}

.topnav h4 {
    margin-bottom: 20px;
    font-size: 30px;
}

.topnav ul li {
    text-decoration: none;
    list-style: none;
}

.topnav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: darkcyan;
}

.topnav ul li h4 {
    float: left;
}

.arrow {
    float: right;
    color: darkcyan;
}

.vet {
    display: flex;
    gap: 30%;
}

.bigletter {
    font-size: 70px;
    font-weight: bold;
}

.txt {
    font-size: 30px;
    font-weight: 100;
}

.btn1 {
    padding: 15px 50px;
    border-radius: 15px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

.play span {
    gap: 10px;
}

.services {
    display: flex;
    gap: 7%;
}

.services2 {
}

.rad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bestvet {
    display: flex;
    gap: 20%;
}

.bestvet img {
    object-fit: cover;
}

#reviewer {
    width: 14%;
    border-radius: 50%;
}

.blog {
    text-align: center;
}

.inputfield {
    padding: 15px 153px;
}

.icon {
    display: flex;
    gap: 18px;
}
.blogpic{
    width: 50px;

}

.foot {
    display: flex;
    gap: 18%;
}

/* Media Queries */
 @media screen and (max-width: 768px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
        font-size: 10px;
    }

    .topnav ul {
        flex-direction: column;
        gap: 10px;
    }

    .topnav h4 {
        font-size: 23px;
    }

    .topnav ul li a {
        font-size: 16px;
        /* margin-left: 5px; */
    }

    .vet, .services, .bestvet {
        flex-direction: column;
        gap: 20px;
    }

    .bigletter {
        font-size: 20px;
    }

    .txt {
        font-size: 10px;
    }

    .btn1 {
        padding: 10px 30px;
    }

    .inputfield {
        padding: 10px 50px;
    }
    .vet, .services, .bestvet {
        gap: 20px;
    }
    .rad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .vet > *, .services > *, .bestvet > * {
        /* flex-basis: 100%; */
    }
    .big{
        width: 250px;

    }
    .blog{
        flex-direction: column;
        padding-left: auto;
    }

    .foot {
        flex-direction: column;
        gap: 30px;
    }
   
} 

/* @media screen and (max-width: 680px) {
    body {
        margin-left: 1%;
        margin-right: 1%;
    }

    .topnav ul {
        gap: 10px;
    }

    .topnav h4 {
        font-size: 20px;
    }

    .topnav ul li a {
        font-size: 14px;
    }

    .vet, .services, .bestvet {
        gap: 5%;
    }

    .bigletter {
        font-size: 30px;
    }

    .txt {
        font-size: 16px;
    }

    .btn1 {
        padding: 8px 20px;
    }

    .inputfield {
        padding: 8px 30px;
    }

    .foot {
        gap: 5%;
    }

   
    .vet > *, .services > *, .bestvet > * {
        flex-basis: 100%;
    }
    .big{
        width: 300px;

    }
} */
